<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Sistema de Controle de Clientes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Página inicial <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Manter Pacientes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a routerLink="cadastrar-paciente" class="dropdown-item">Cadastrar Pacientes</a>
          <a routerLink="consultar-paciente" class="dropdown-item">Consultar Pacientes</a>
        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Manter Médico
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a routerLink="cadastrar-medico" class="dropdown-item">Cadastrar Médicos</a>
          <a routerLink="consultar-medico" class="dropdown-item">Consultar Médicos</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Manter Atendimento
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a routerLink="cadastrar-atendimento" class="dropdown-item">Cadastrar Atendimentos</a>
          <a routerLink="consultar-atendimento" class="dropdown-item">Consultar Atendimentos</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Manter Usuários
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a routerLink="autenticar-usuario" class="dropdown-item">Autenticar Usuários</a>
          <a routerLink="cadastrar-usuario" class="dropdown-item">Cadastrar Usuários</a>
        </div>
      </li>


    </ul>
  </div>
</nav>
<br />
<div class="container">
  <div>
    <div class="row">
      <div class="col-md-6">
        <h2>Seja bem vindo ao projeto</h2>
        Sistema desenvolvido em Angular consumindo WebApi em .NET CORE
      </div>
      <div class="col-md-6 text-right">
        Usuário Autenticado: <strong>Teste</strong> <br />
        <button class="btn btn-secondary btn-sm" (click)="logout()">
          Sair do Sistema
        </button>
      </div>
    </div>
    <hr />
    

  </div>
  <!-- local onde serão exibidos o conteudo dos componentes -->
  <router-outlet></router-outlet>

</div>