<h4>Cadastro de Usuários</h4>

<form #formCadastro="ngForm" (submit)="cadastrarUsuario(formCadastro)">

    <div class="row">
        <div class="col-md-4">

            <div class="form-group">
                <label>Nome do Usuário:</label>
                <input type="text" class="form-control"
                       name="Nome" ngModel
                       placeholder="Digite aqui"/>
                <div class="text-danger" *ngFor="let msg of errosNome">   
                    {{msg}}                       
                </div>
            </div>

            <div class="form-group">
                <label>Email do Usuário:</label>
                <input type="text" class="form-control"
                       name="Email" ngModel
                       placeholder="Digite aqui"/>
                <div class="text-danger" *ngFor="let msg of errosEmail">
                    {{msg}}
                </div>
            </div>

            <div class="form-group">
                <label>Senha do Usuário:</label>
                <input type="password" class="form-control"
                       name="Senha" ngModel
                       placeholder="Digite aqui"/>
                <div class="text-danger" *ngFor="let msg of errosSenha">
                    {{msg}}
                </div>
            </div>

            <div class="form-group">
                <label>Confirme sua Senha:</label>
                <input type="password" class="form-control"
                       name="SenhaConfirmacao" ngModel
                       placeholder="Digite aqui"/>
                <div class="text-danger" *ngFor="let msg of errosSenhaConfirmacao">
                    {{msg}}
                </div>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-success"
                    value="Cadastrar Usuário"/>
            </div>

            <div class="form-group">
                <strong>{{mensagem}}</strong>
            </div>

        </div>
    </div>

</form>
